<% if !notice.blank? %>
<div class="alert alert-success" role="alert"><%= notice %></div>
<% end -%>

<h1>Provas</h1>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <!-- Opções do filtro -->
    <% @options = "<option value='data' #{'selected' if params[:filtro] == "data"}>Data</option>"
    @options += "<option value='nota' #{'selected' if params[:filtro] == "nota"}>Nota</option>" %>

    <%= form_tag({}, {:method => :get}) do %>
    <div class="input-group">
      <%= select_tag :filtro, @options.html_safe, :class => "form-control", :prompt => "Limpar" %>
      <%= text_field_tag :valor, params[:valor], :class => "form-control" %>
      <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

<table class="table">
  <tr>
    <th>Data</th>
    <th>Nota</th>
    <th>Aluno</th>
    <th>Matéria</th>
    <th></th>
    <th></th>
  </tr>

  <% @provas.each do |prova| %>
  <tr>
    <td><%= data_br prova.data %></td>
    <td><%= prova.nota %></td>
    <td><%= prova.aluno.try(:nome) %></td>
    <td><%= prova.materium.try(:nome) %></td>
    <td><%= link_to 'Editar', edit_prova_path(prova), class: "btn-sm btn-warning" %></td>
    <td><%= link_to 'Deletar', prova, method: :delete, data: { confirm: 'Deseja realmente deletar esta prova?' }, class: "btn-sm btn-danger" %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'Cadastrar Prova', new_prova_path, class: "btn btn-success" %>
