<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @materium.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @materium.descricao %>
</p>


<%= link_to 'Edit', edit_materium_path(@materium) %> |
<%= link_to 'Back', materia_path %>
